@media (max-width: 870px) { /*untuk tablet*/

  header {
  height: 215px;
  }

  .header-logo, .header-list {
    text-align: center;
    display: inline-block;
  }

  .appetizer {
  height: 715px;
  }

  .empty_appetizer {
  height: 215px;
  }
  
  .img_appetizer {
  width: 100%;
	text-align: center;
  }
  
  .desc_appetizer {
  width: 100%;
	text-align: center;
  }
  
  .main_dish {
  height: 500px;
  }
  
  .img_main {
  width: 100%;
	text-align: center;
  }
  
  .desc_main {
  width: 100%;
	text-align: center;
  }
  
  .dessert {
  height: 500px;
  }
  
  .img_dessert{
  width: 100%;
	text-align: center;
  }
  
  .desc_dessert {
  width: 100%;
	text-align: center;
  }
}

@media (max-width: 670px) { /*untuk tablet*/
  .container {
    padding: 0 12px;
   }

  .footer .grid {
    margin: 0;
   }

  .footer_global {
     border-bottom: 1px solid #b3b3b3;
   }

  .med_size4of12 {
       width: 33.33333%;
   }

  .footer_global h4 {
    margin: 0 20px;
    font-size: 1.1em;
   }

  .footer a {
    color: #3d3935;
   }

  .footer a {
    font-weight: 400;
  }

  .column {
    padding: 0 12px;
  }
}

@media (max-width: 465px) { /*untuk phone*/

  header {
  height: 250px;
  }

  .header-logo, .header-list {
    text-align: center;
    display: inline-block;
  }

  .header-btn {
    padding: 10px 10px;
  }

  .appetizer {
  height: 750px;
  }

  .empty_appetizer {
  height: 250px;
  }
  
  .desc_appetizer {
  width: 100%;
	text-align: center;
  }
  
  .main_dish {
  height: 535px;
  }
  
  .desc_main {
  width: 100%;
	text-align: center;
  }
  
  .dessert {
  height: 535px;
  }
  
  .desc_dessert {
  width: 100%;
	text-align: center;
  }

  .img {
    width: 200px;
    height: 100px;
    text-align: center;
  }

  .container {
    padding: 0 12px;
   }

  .footer .grid {
    margin: 0;
   }

  .footer_global {
     border-bottom: 1px solid #b3b3b3;
   }

  .med_size4of12 {
       width: 33.33333%;
   }

  .footer_global h4 {
    margin: 0 20px;
    font-size: 1.1em;
   }

  .footer a {
    color: #3d3935;
   }

  .footer a {
    font-weight: 400;
  }

  .column {
    padding: 0 12px;
  }
  .footer-media {
    height: 80px;
    width: 80%;
    text-align: center;
    background-position: 98%;
  }
  .footer_copyright {
   font-size: 6px;
   text-align: center;
  }
  .btn-wrapper {
    font-size: 10px;
  }
  .footer-media .btn-wrapper {
    width: 100%;
    text-align: center;
    font-size: 8px;
  }
  .footer-media .btn {
    padding: 5px;
  }
